<template name="gitTools">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h3>Lets now work with automization of github:</h3>
                <h4 class="text-center">First lets create one remote repo</h4>
                <h4 class="text-center">Then we need to create DockerFile example</h4>
                <h4 class="text-center">Then we need to create packages.json for npm libs</h4>
            </div>
            <div class="well">
                <h2 class="text-center" style="color: #003eff">Данила Демидов - чебурек!</h2>
            </div>
            <div class="btn-group" role="group" aria-label="Working with github">
                <button type="button" class="btn btn-info deleteAuthGitHub">Remove token on git</button>
                <button type="button" class="btn btn-info receiveTokenGitHub">Receive token on git</button>
                <button type="button" class="btn btn-info getGitHubToken">Get github token on git</button>
                <!--<button type="button" class="btn btn-info createGitHubRepo">Create github repo</button>-->
            </div>
        </div>
    </div>
</template>